<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Crianza Pokémon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<h1>Crianza Pokémon</h1>

<nav>
    <div class="container">
        <div class="search-box">
            <div class="pokeball-decoration"><h3>Buscador por nombre de Pokémon</h3></div>
            <div class="form-container">
                <form method="GET" action="/pokemons">
                    <label for="pokename">Nombre:</label>
                    <input type="text" id="pokename" name="pokename">
                    <input type="submit" value="Buscar">
                </form>
            </div>
        </div>
        <div class="search-box">
            <div class="pokeball-decoration"><h3>Buscador por movimiento Pokémon</h3></div>
            <div class="form-container">
                <form method="GET" action="/moves">
                    <label for="movename">Nombre:</label>
                    <input type="text" id="movename" name="movename">
                    <input type="submit" value="Buscar">
                </form>
            </div>
        </div>
    </div>
    <div class="two-column-layout">
        <div>
            <a class="green-box" href="/shortest_path">Caminos más cortos</a>
        </div>
        <div><a class="green-box" href="/cadena">Cadenas de crianza</a>
        </div>
    </div>
    <div>
        <ul class="three-column-layout">
            <li><a class="blue-box" href="/generaciones">Pokémon por Generación</a></li>
            <li><a class="blue-box" href="/tipos">Pokémon por Tipo</a></li>
            <li><a class="blue-box" href="/habilidades">Pokémon por Habilidad</a></li>
            <li><a class="blue-box" href="/grupos">Pokémon por Grupo Huevo</a></li>
            <li><a class="blue-box" href="/colores">Pokémon por Colores</a></li>
            <li><a class="blue-box" href="/categorias">Pokémon por Categoría</a></li>
        </ul>
    </div>
</nav>
</body>
</html>
